<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss.sss} %p: %m | request #%X{counter} %n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <File name="FileAppender1" fileName="logs/requests.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <File name="FileAppender2" fileName="logs/todos.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="request-logger" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender1" />
        </Logger>

        <Logger name="todo-logger" level="info" additivity="false">
            <AppenderRef ref="FileAppender2" />
        </Logger>

        <Root level="fatal">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>